/* menu_global */
.menu_global li {
    display: inline-flex;
    margin: 10px;
}

.menu_global ul li {
    border-radius: 5px;
}

.menu_global ul li:hover {
    color: orange;
    margin: 10px;
}

.menu_global a {
    text-decoration: none;
    color: black;
}

.menu_global a:hover {
    color: red;
}

.active, a {
    background-color: orange;
}